<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	ds.setDriverClassName(config.getInitParameter("dbClassName"));
	ds.setUsername(config.getInitParameter("userName"));
	ds.setPassword(config.getInitParameter("password"));
	ds.setUrl(config.getInitParameter("url"));
	pushService.setDataSource(ds);

	String apiKey = config.getInitParameter("googlePushNotificationApiKey");
	GooglePushService googlePushService = new GooglePushService(apiKey );
	pushService.set(googlePushService);

	String p12FilePath =
	config.getInitParameter("applePushNotificationP12FilePath");
	String password = config.getInitParameter("applePushNotificationPassword");
	boolean sandbox =
	"true".equalsIgnoreCase(config.getInitParameter("applePushNotificationSandbox"));

	<context-param>
		<param-name>dbClassName</param-name>
		<param-value>org.h2.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>userName</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:h2:/tmp/pushservice;MODE=MySQL;DB_CLOSE_ON_EXIT=FALSE</param-value>
	</context-param>
	<context-param>
		<param-name>googlePushNotificationApiKey</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>applePushNotificationP12FilePath</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>applePushNotificationPassword</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>applePushNotificationSandbox</param-name>
		<param-value>true</param-value>
	</context-param>

	<servlet>
		<servlet-name>PushServlet</servlet-name>
		<servlet-class>common.pushservice.PushServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushServlet</servlet-name>
		<url-pattern>/push</url-pattern>
	</servlet-mapping>

</web-app>
